extends layout

block foot_scripts
	script(src="/javascripts/index-member.js")
	link(rel="stylesheet", href="/stylesheets/index-member.css")

block content
	script document.body.style.display = "none"
	#head-wrapper
		img(src="/favicon.ico", width=50, height=50)
		div
			img(src=`https://github.com/${CommonConstants.login.name}.png`, width=50, height=50)
			a.action.action-logout Logout
	#body-wrapper
