body{
	padding:  50px;
	font:     14px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow: hidden;
}
a{
	color:           #00B7FF;
	text-decoration: none;
}
a:visited, a.visited{
	color: #CA5CFF;
}
.action{
	cursor: pointer;
}
.disabled{
	cursor: no-drop !important;
	color: #CCCCCC;
}
